button{
    background:firebrick;
}
#h2{
    color:blue;
}
.data{
    color:rgb(20, 179, 68);
    background:cornflowerblue;
}
.sample{
    width:500px;
    height:600px;
    background:red;
    border: 5px solid rgb(8, 53, 199);
    margin: 50px 0px 0px 50px;
    padding: 10px 10px 10px 10px;
    color:white;
}

.d1{
    width: 600px;
    height: 600px;
    background: blue;
    margin: 20px;
    padding: 10px;
}
.d2{
    width: 300px;
    height: 300px;
    background:green;
    margin: 10px;
    float: left;
}
.d3{
    width: 260px;
    height: 260px;
    background:rgb(228, 105, 4);
    margin: 10px;
    float: left;
}
.d5{
    width: 300px;
    height: 260px;
    background:rgb(83, 0, 83);
    margin: 10px;
    float: right;
}
.d4{
    width: 260px;
    height: 300px;
    background:rgb(216, 8, 18);
    margin: 10px;
    float: right;
}
